@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	/* margin: 20px; */
	overflow: hidden;
}

#navbar{
	padding: 5px;
	background:#667aff;
}
#navbar-logo{
	display: inline-block;
	width: 10%;
}
#navbar-logo img{
	vertical-align: middle;
	width: 100%;
}
#navbar-name{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	text-align: center;
	color:#F3F4F6;
	font-size: 22px;
}



ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 100%;
	background: #fff;
	margin: 30px ;
	overflow: hidden;
	height: 600px;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	height: 445px;
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 445px;
	overflow-y: scroll;
	
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}
.chat-messages .announcement{
	text-align: center;
	
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}
.messageBox{
	height: 54px !important;
	background-color: white !important;
	vertical-align:middle;
}
.chat-form-container .btn{
	height: 54px;
	margin-left: 2px;
	border-radius: 5px;
	vertical-align: middle;
}

/* Join Page */
.join-container {
	
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	background:#667aff;
	padding: 5px;
}
.upper-footer{
	display: flex;
	color: #e6e9ff;
	align-items: center;

}
.upper-footer .col p a{
	text-decoration: underline;
	color: #e6e9ff;
}
.upper-footer .col{
	width: 100%;
	font-size: 20px;
	margin: 10px;
	align-items: center;
	text-align: center; 

}
.upper-footer .col textarea{
	border-radius: 5px;
	margin: 0 auto;
	display: inline-block;
	
}

.footer .col textarea{
	display: block;
}

hr{
	background:rgba(204, 198, 198,0.7);
	margin: 0;
	padding: 0;
	border: 0px;
	height: 3px;
}
.bottom-footer{
	display:flex;
	color: #e6e9ff;
}
.bottom-footer p{
	margin: 10px;
	font-size: 18px;
	width: 100%;
	vertical-align: middle;
}
.bottom-footer p:nth-child(2)
{
	text-align: right;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}